:root{
    --navy_blue: #18121E;
    --gunmetal: #233237;
    --rusty_red: #984B43;
    --warm_yellow: #EAC67A;
    --gold: #ffd700;
    --silver: #C0C0C0;
    background-color: black;
    color: white;
}
