:root{
    --navy_blue: #18121E;
    --gunmetal: #233237;
    --rusty_red: #984B43;
    --warm_yellow: #EAC67A;
    --gold: #D4AF37;
    --silver: #C0C0C0;
    --beige: #CFB997;
    background-color: #000026; /*2A2927;*/
    color: white;
}
