
:root{
    --navy_blue: #18121E;
    --gunmetal: #233237;
    --rusty_red: #984B43;
    --warm_yellow: #EAC67A;
    --gold: #ffd700;
    --silver: #C0C0C0;
    background-color: black;
}

body{
    padding: 0;
    margin: 0;
}

header{
    background-color: white;
    color: black;
    padding-left: 50px;
    padding-right: 200px;
    height: 85px;
}

header>image{
    float: left;
}

header>div{
    position: relative;
    background-color: inherit;
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0px 15px;
    margin: 0px 20px;
    float: right;
    top:35%;
}

#login_container{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#login_container>input{
    color: var(--gunmetal);
    background-color: white;
    border: black;
    border-width: 4px;
    padding-left: 10px;
    margin-right: 10px;
}
