<!DOCTYPE html>
<HTML lang="es">
<HEAD>
	<title>Los Panas</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="../resources/images/favIcon.svg" rel="icon" type="image/x-icon">
	<link href="../styles/indexStyles.css" rel="stylesheet" type="text/css">
	<link href="../styles/colorPalete.css" rel="stylesheet" type="text/css">
	<script src="../scripts/router.js" ></script>
	<script src="../scripts/index.js" ></script>
</HEAD>
<BODY>
	<header>
		<img src="../resources/images/logo.png" >
		<div id="singIn" onclick="changeSection('singIn', 'signIn.html')"><span>Sign In</span></div>
		<div id="losPanasTeam" onclick="changeSection('losPanasTeam', 'losPanasTeam.html')"><span>Los Panas Team</span></div>
		<div id="members" onclick="changeSection('members', 'members.html')"><span>Members</span></div>
		<div id="projects" onclick="changeSection('projects', 'projects.html')"><span>Projects</span></div>
		<div id="home" onclick="changeSection('home', 'home.html')" class="selected"><span>Home</span></div>
		<span>Skyrocket yourself</span>
	</header>
	<main>
	</main>
	<footer>	
	</footer>
</BODY>
</HTML>