<!DOCTYPE html>
<HTML lang="es">
<HEAD>
	<title>Index</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="../styles/indexStyles.css" rel="stylesheet" type="text/css">
</HEAD>
<BODY>
	<header>
		<img src="../resources/images/logo.png" height="80px">
		<div>Sign In</div>
	</header>
	<main>
		<div id="login_container">
			<input type="text" placeholder="User">
			<input type="password" placeholder="Password">
			<button>Sing In</button>
			<span>If you do not have an account yet try <a>Registering</a></span>
		</div>
	</main>
	<footer>
		<div>
			<div>
				<a>enlace</a>
				<a>enlace</a>
				<a>enlace</a>
			</div>
			<div>
				<a>enlace</a>
				<a>enlace</a>
				<a>enlace</a>
			</div>
			<div>
				<a>enlace</a>
				<a>enlace</a>
				<a>enlace</a>
			</div>
		</div>
	</footer>
</BODY>
</HTML>